<%- include("includes/base.ejs") %>
<%- include("includes/header.ejs") %>
    <h1>Welcome Home Mahdi</h1>
    <p> <%= user.username  %></p>
    <p> <%= user.email  %></p>
    <p> <%= user.profilePic  %></p>
<%- include("includes/end.ejs") %>
